<!DOCTYPE html>
    <html>
    <head>
        <title>Biblioteca Virtual - Página Inicial</title>
    </head>
    <body class="corpo-site">
        <header>
            <nav class="cabecalho">
                <img style="height:100px; width:100px;" src="~/Images/logo.jpg" alt="Logo Biblioteca Virtual." />
                <ul class="lista-cabecalho">
                    <li>

                    </li>
                </ul>
            </nav>
        </header>

        <main>

        </main>

        <footer>

        </footer>
    </body>
    </html>