* {
    margin:0%;
    padding:0%;
    position:relative;
}

#corpo-pg-cadastro-login {
    background-color: #F5F5DC;
}

#disposicao-formulario-cadastro-login {
    display:flex;
    justify-content:center;
    align-items:center;
}

#formulario-cadastro-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5%;
    padding: 3%;
    margin-top: 4%;
    font-size: 18px;
    background-color: #556B2F;
}

button {
    background-color: #F5F5DC;
    border: 1px solid black;
    padding: 3%;
    font-size:14px;
}

button:hover {
    background-color: #c3bebe;
}

.corpo-site {
    background-color: #F5F5DC;
}

.cabecalho {
    background-color: #8B4513;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lista-cabecalho {
    list-style: none;
}

a {
    color: #F5F5DC;
}

a:visited {
    color: #F5F5DC;
}

.rodape {
    margin-top: 5%;
}